*{

  margin: 0;

  padding: 0;


}
img{
  border: none;

  vertical-align: top;

  display: block;


}

a{
  display: block;

  text-decoration: none;


}

ul{

 list-style: none;


}

.view{

 width: 400px;

 border: 10px solid #e4e4e4;

 position: relative;

 margin: 20px auto;

 background: black;

}

.top{

   width: 400px;

   height: 300px;
   position: relative;

   margin-bottom: 20px;


}

.top a{

   position: absolute;

   left:0px;

   top:0px;
}

.top a img{

  width: 400px;

  height: 300px;
}

.middle{

    position: relative;

    margin-bottom: 20px;

    height: 120px;

    overflow: hidden;


}

.middle ul{

 overflow: hidden;

 position: absolute;

}

.middle ul li{

  float: left;

  margin-left: 10px;

}

.middle ul li img{

   width: 120px;

   height: 120px;

}

.bottom {

   text-align: center;

   line-height: 40px;

   font-size: 14px;

   color:#ffffff;

}
.left{

   width: 50px;

   line-height:70px;

   outline: none;

   border:none;

   background: #e4e4e4;

   text-align: center;

   font-size: 30px;

   color:#ffffff;

   opacity: 0.5;

   filter:alpha(opacity=50);

   position: absolute;

   top:125px;

   left:0px;

    display: none;
}

.right{

   width: 50px;

   line-height:70px;

   outline: none;

   border:none;

   background: #e4e4e4;

   text-align: center;

   font-size: 30px;

   color:#ffffff;

   opacity: 0.5;

   filter:alpha(opacity=50);

   position: absolute;

   top:125px;

   right:0px;

   display: none;
}
